/* :root {
    --height-chat: 505px;
} */

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #ececec;
    font-family: monospace;
    overflow: hidden;
}

.container {
    width: 350px;
    max-width: 500px;
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    margin: 20px auto;
    width: max-content;
    border: 2px solid #333;
}

.casa {
    background-color: #f0f0f0;
    border: 2px solid #333;
    font-size: 4rem;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat.active {
    transform: translateY(0px);
}

.chat {
    transform: translateY(505px);
    transition: .5s;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid #000;
    max-height: 600px;
    width: 350px;
    border-radius: 10px 10px 0 0;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #000;
}

.mensagens {
    height: 505px;
    overflow-y: auto;
}

.mensagem {
    padding: 10px;
    border-bottom: 3px solid #8c8c8c;
}

.notificacao {
    aspect-ratio: 1 / 1;
    height: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* mobile */
.abrirChatMobile {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    box-shadow: 0 0 3px #000;
}

@media screen and (max-width: 576px) {
    /* :root {
        --height-chat: 203px;
    } */

    .chat {
        transform: translateY(203px);
        width: 300px;
    }

    .chat.active {
        transform: translateY(0px);
    }

    .chat .mensagens {
        height: 200px;
    }
}