body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #ececec;
    font-family: monospace;
    overflow: hidden;
}

.container {
    min-width: 350px;
    max-width: 500px;
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    margin: 20px auto;
    width: max-content;
    border: 2px solid #333;
}

.casa {
    background-color: #f0f0f0;
    border: 2px solid #333;
    font-size: 4rem;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat.active {
    transform: translateY(0px);
}

.btnAtivarChat {
    display: flex;
    cursor: pointer;
}

.btnAtivarChat.esconder {
    display: none;
    transition: 1s;
}

.chat {
    transform: translateY(100%);
    transition: .5s;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid #000;
    max-height: 600px;
    width: 350px;
    border-radius: 10px 10px 0 0;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #000;
}

.mensagens {
    height: 505px;
    overflow-y: auto;
}

.mensagem {
    padding: 10px;
    border-bottom: 3px solid #8c8c8c;
    overflow-wrap: break-word;
}

.notificacao {
    display: none;
}

.chat textarea.perto-limite:focus {
    border-color: orange;
    box-shadow: 0 0 5px orange;
}

.chat textarea.limite-ultrapassado:focus {
    border-color: red;
    box-shadow: 0 0 5px red;
}

.chat textarea:focus {
    outline: none;
    border-color: green;
    box-shadow: 0 0 5px green;
}


@media screen and (max-width: 576px) {
    .chat {
        width: 300px;
    }

    .chat .mensagens {
        height: 200px;
    }
}